
body {
  
}


header {
  display: flex;
  text-align: center;
  justify-content: center;
  place-items: center; 
 /* height: 100%;*/
}

nav img{
    height: 30px;
    width: 30px;
}



header{
    position: fixed;
    top: 0;
}

.container {
  height: 60px;
  width: 800px;
  line-height: 60px;
  background: #555555;
  border-radius: 60px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.nav {
  position: relative;
  display: flex;
}

.label {
  z-index: 1;
  flex: 1;
  cursor: pointer;
  width: 100%;
  position: relative;
}

.ref {
  position: relative;
  z-index: -1;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.4s ease;
}

.container nav #inicio:checked ~ label.inicio a,
.container nav #follow:checked ~ label.follow a,
.container nav #videos:checked ~ label.videos a,
.container nav #contact:checked ~ label.contact a {
  color: black;
}

.tab {
  position: absolute;
  height: 100%;
  width: 25%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, rgb(66, 190, 239), rgb(70, 230, 208));
  border-radius: 60px;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.5);
}

.input {
  display: none;
}

.nav #follow:checked ~ .tab {
  left: 25%;
}
.nav #videos:checked ~ .tab {
  left: 50%;
}
.nav #contact:checked ~ .tab {
  left: 75%;
}

.row {
  display: flex;
  width: 100%;
  
}


.aboutme{

  width: 450px;
  height: 300px;
  margin-top: 150px;
  border-radius: 10px 10px 0 0;;

  display: grid;
  grid-template-columns: 1fr  1fr;
  justify-content: start;

  padding-right: 5%;
  
  
}

div img{
  padding: 40px;
}

.video{

  width: 400px;
  height: 250px;
  margin-top: 150px;
 
  display: flex;
  justify-content: start;

}

